@model awesomeBlog.Models.Article

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_layoutDashboard.cshtml";    
}

<h2>Details</h2>

<fieldset>
    <legend>Article</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ArticleTitle)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ArticleTitle)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ArticleBody)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ArticleBody)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ArticleDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ArticleDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ArticleCreator)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ArticleCreator)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ArticlePositiveAppeal)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ArticlePositiveAppeal)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ArticleNegativeAppeal)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ArticleNegativeAppeal)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ArticlePicture)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ArticlePicture)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ArticleTags)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ArticleTags)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ArticleViews)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ArticleViews)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ArticleID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
